<p>
  <b>Title:</b>
  <%=h @album.title %>
</p>

<p>
  <b>Artist:</b>
  <%=h @album.artist %>
</p>

<p>
  <b>Release date:</b>
  <%=h @album.release_date %>
</p>

<p>
  <b>Genre:</b>
  <%=h @album.genre %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>